#banner {
    background-color: #3CD1DB;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    margin: 10px;
  }
  #banner img {
    width: 100%;
    height: 100%;
  }
  #banner div {
    margin-top: 20px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    #banner {
      padding: 20px;
      column-gap: 50px;
    }
    #banner img {
      width: 30vw;
      height: 100%;
    }
    #banner div {
      margin-top: 20px;
      width: 50vw;
    }
     #nav-desktop {
      display: block;
      margin-top: 30px;
      float: right;
    }
    #menu-mobile {
      display: none;  
    }  
}  