body {
    background-color: #01003f;
}

header {
    background-image: url(Imagens/fundoStars.png);
}

* {
    font-family: sans-serif;
}

footer {
    color:white;
    font-weight: bold;
    font-size: 200%;
    margin-top: 100px;
}

#Promocoes, #Noticias, #WebGamedoMes, #FunnyAnimation {
    margin: 10px;
    text-align: center;
}

.carousel-item {
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

.Menu {
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
}


#linkMenu {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.Menu a span {
    display: none;
}
.imgFooter {
    float: right;
}

.funnyGif {
    box-align: center;
    width: 50%;
    margin-top: 100px; 
}

.carousel-caption {
    background-color: rgba(192, 192, 192, 0.7);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}


.row {
    text-align: center;
    --bs-gutter-x: 0rem;;
}

#WebGamedoMes div:not(#logoWGM) {
    width: 40%;
    height: 650px;
    margin: 0 auto;
}
#WebGamedoMes iframe {
    width: 100%;
    height: 100%;
}

#logoPromocoes {
    margin-bottom: -1%;
    margin-top: 1%;
    z-index: 99;
    position: relative;
    top: 20px;
}

#logoPromocoes a img {
    width: 8vw;
}

#logoNoticias {
    margin-bottom: -1%;
    margin-top: 5%;
    z-index: 99;
    position: relative;
    top: 20px;
}

#logoNoticias a img {
    width: 13vw;
}

#logoWGM {
    margin-bottom: -1%;
    z-index: 99;
}

#logoWGM img {
    width: 25vw;
}

#Rodape p {
    float: left;
}

.Menu {
    background: rgba(255, 54, 54, 0.92);
    border: 2px solid rgba(204, 204, 204, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    padding: 5px;
}

#TextoWGM h5 {
    margin: 3% 10%;
}

#TextoWGM h2 {
    margin: 2% 0% 1% 0%;
}

#FunnyAnimation img{
    cursor: pointer;
}

.btn-secondary {
    color: #fff;
    background-color: rgba(255, 54, 54, 0.92);
    border-color: rgba(255, 54, 54, 0.92);
}

.position-relative {
    color: #fff;
    background-color: rgba(255, 54, 54, 0.92);
    border-color: rgba(255, 54, 54, 0.92);
}

.btn-secondary:focus {
    color: #fff;
    background-color: rgba(255, 54, 54, 0.92);
    border-color: rgba(255, 54, 54, 0.92);
    box-shadow: 0 0 0 0rem rgb(130 138 145 / 0%);
}

.btn-secondary:hover {
    color: #fff;
    background-color: rgba(255, 54, 54, 0.92);
    border-color: rgba(255, 54, 54, 0.92);
}

.btn-primary:focus {
    color: #fff;
    background-color: rgba(255, 54, 54, 0.92);
    border-color: rgba(255, 54, 54, 0.92);
    box-shadow: 0 0 0 0rem rgb(130 138 145 / 0%);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(255, 54, 54, 0.92);
    border-color: rgba(255, 54, 54, 0.92);
}

@media screen and (min-width: 1360px) {
    
    .Menu div {
        color: white;
    }    
    
    .Menu a span {
        display: inline;
    }
}