body {
    background-color: #01003f;
}

header {
    background-image: url(Imagens/fundoStars.png);
}

* {
    font-family: sans-serif;
}

footer {
    color:white;
    font-weight: bold;
    font-size: 200%;
}

#Promocoes {
    margin: 10px;
}

.bigLogo {
    align-self: center;
}

.carousel-item {
    text-align: center;
    width: 30%;
    margin: 33%;
}

.Menu .linkMenu {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.imgFooter {
    float: right;
}

.funnyGif {
    box-align: center; 
}

.carousel-caption {
    background-color: rgba(192, 192, 192, 0.5);
}